In [1]:
# üì¶ 1. Importar librer√≠as
import pandas as pd

# üìÇ 2. Cargar el archivo CSV desde tu m√°quina local
ruta = r"C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\finalitoul.csv"
df = pd.read_csv(ruta)

# üìä 3. Mostrar dimensiones y tipos de datos
print("üî¢ Shape del DataFrame:", df.shape)
print("\nüß± Tipos de columnas:")
print(df.dtypes)

# üëÄ 4. Vista previa de los datos
print("\nüîç Primeras filas del dataset:")
display(df.head())

üî¢ Shape del DataFrame: (16763760, 13)

üß± Tipos de columnas:
customer_id                int64
product_id                 int64
periodo                   object
plan_precios_cuidados    float64
cust_request_qty         float64
cust_request_tn          float64
tn                       float64
stock_final              float64
cat1                      object
cat2                      object
cat3                      object
brand                     object
sku_size                   int64
dtype: object

üîç Primeras filas del dataset:

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,stock_final,cat1,cat2,cat3,brand,sku_size
0,10001,20001,2017-01-01,0.0,11.0,99.43861,99.43861,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
1,10001,20001,2017-02-01,0.0,23.0,198.84365,198.84365,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
2,10001,20001,2017-03-01,0.0,33.0,92.46537,92.46537,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
3,10001,20001,2017-04-01,0.0,8.0,13.29728,13.29728,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
4,10001,20001,2017-05-01,0.0,15.0,101.20711,101.00563,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000

In [2]:
# üßÆ 1. Cu√°ntos per√≠odos distintos hay
n_periodos = df['periodo'].nunique()
print(f"üìÜ Per√≠odos √∫nicos en el dataset: {n_periodos}")

# üß≤ 2. Agrupar por combinaci√≥n (customer_id, product_id)
agrupado = df.groupby(['customer_id', 'product_id'])

# üìê 3. Filtrar combinaciones con 36 per√≠odos y suma de tn == 0
combinaciones_sin_ventas = agrupado.agg(
    cantidad_periodos=('periodo', 'nunique'),
    suma_tn=('tn', 'sum')
).reset_index()

# üßπ 4. Filtrar los que tienen todos los per√≠odos y nunca vendieron
combinaciones_sin_ventas = combinaciones_sin_ventas[
    (combinaciones_sin_ventas['cantidad_periodos'] == n_periodos) &
    (combinaciones_sin_ventas['suma_tn'] == 0)
]

print(f"üîé Combinaciones sin venta en los {n_periodos} per√≠odos:", combinaciones_sin_ventas.shape[0])

# üìÇ 5. Si quer√©s filtrar el dataset original para ver esos registros:
df_sin_ventas = df.merge(
    combinaciones_sin_ventas[['customer_id', 'product_id']],
    on=['customer_id', 'product_id'],
    how='inner'
)

üìÜ Per√≠odos √∫nicos en el dataset: 36
üîé Combinaciones sin venta en los 36 per√≠odos: 202855

In [3]:
# üßπ 6. Eliminar esas combinaciones del dataset original
df_filtrado = df.merge(
    combinaciones_sin_ventas[['customer_id', 'product_id']],
    on=['customer_id', 'product_id'],
    how='left',
    indicator=True
)

# Nos quedamos con las filas que NO estaban en las combinaciones sin ventas
df_filtrado = df_filtrado[df_filtrado['_merge'] == 'left_only'].drop(columns=['_merge'])

print("üìâ Shape despu√©s de eliminar combinaciones sin venta:", df_filtrado.shape)

# üíæ 7. Guardar el nuevo CSV (ajust√° la ruta si quer√©s)
ruta_salida = r"C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\finalitoul_filtrado.csv"
df_filtrado.to_csv(ruta_salida, index=False)

print(f"‚úÖ Archivo guardado en: {ruta_salida}")

üìâ Shape despu√©s de eliminar combinaciones sin venta: (9460980, 13)
‚úÖ Archivo guardado en: C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\finalitoul_filtrado.csv

In [4]:
# üìä M√©tricas del proceso de filtrado

# Total de combinaciones originales
total_combinaciones = df.groupby(['customer_id', 'product_id']).ngroups

# Combinaciones eliminadas
combinaciones_eliminadas = combinaciones_sin_ventas.shape[0]

# Combinaciones restantes
combinaciones_restantes = total_combinaciones - combinaciones_eliminadas

# % de combinaciones eliminadas
porcentaje_eliminado = (combinaciones_eliminadas / total_combinaciones) * 100

# % de filas eliminadas
filas_eliminadas = df.shape[0] - df_filtrado.shape[0]
porcentaje_filas = (filas_eliminadas / df.shape[0]) * 100

# üìã Reporte
print("\nüìã RESUMEN:")
print(f"üî∏ Total de combinaciones originales: {total_combinaciones:,}")
print(f"üîª Combinaciones eliminadas: {combinaciones_eliminadas:,} ({porcentaje_eliminado:.2f}%)")
print(f"‚úÖ Combinaciones restantes: {combinaciones_restantes:,}")
print(f"üìâ Filas eliminadas: {filas_eliminadas:,} ({porcentaje_filas:.2f}%)")
print(f"üíæ Dataset final guardado en: {ruta_salida}")

üìã RESUMEN:
üî∏ Total de combinaciones originales: 465,660
üîª Combinaciones eliminadas: 202,855 (43.56%)
‚úÖ Combinaciones restantes: 262,805
üìâ Filas eliminadas: 7,302,780 (43.56%)
üíæ Dataset final guardado en: C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\finalitoul_filtrado.csv

In [5]:
# üíæ Guardar combinaciones eliminadas para trazabilidad
ruta_combinaciones = r"C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\combinaciones_eliminadas.csv"
combinaciones_sin_ventas.to_csv(ruta_combinaciones, index=False)

print(f"üìÅ Combinaciones eliminadas guardadas en: {ruta_combinaciones}")

üìÅ Combinaciones eliminadas guardadas en: C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\combinaciones_eliminadas.csv

In [6]:
# üìÇ Cargar el archivo con combinaciones eliminadas
df_eliminadas = pd.read_csv(ruta_combinaciones)

# üëÄ Mostrar primeras filas
print("üîç Primeras combinaciones eliminadas:")
display(df_eliminadas.head())

# üßÆ ¬øCu√°ntas combinaciones hay?
print(f"üî¢ Total de combinaciones eliminadas: {df_eliminadas.shape[0]}")

# üìä Si quer√©s ver qu√© customers o productos aparecen m√°s en este subconjunto:
top_customers = df_eliminadas['customer_id'].value_counts().head(10)
top_products = df_eliminadas['product_id'].value_counts().head(10)

print("\nüë§ Top 10 customers m√°s frecuentes entre los eliminados:")
print(top_customers)

print("\nüì¶ Top 10 productos m√°s frecuentes entre los eliminados:")
print(top_products)

üîç Primeras combinaciones eliminadas:

   customer_id  product_id  cantidad_periodos  suma_tn
0        10001       20032                 36      0.0
1        10001       20052                 36      0.0
2        10001       20069                 36      0.0
3        10001       20071                 36      0.0
4        10001       20089                 36      0.0

üî¢ Total de combinaciones eliminadas: 202855

üë§ Top 10 customers m√°s frecuentes entre los eliminados:
customer_id
10632    778
10633    778
10637    778
10559    777
10373    777
10636    777
10577    776
10591    776
10558    775
10507    775
Name: count, dtype: int64

üì¶ Top 10 productos m√°s frecuentes entre los eliminados:
product_id
21252    575
21267    574
21276    574
20953    550
20845    546
20886    545
21266    537
21265    537
21246    531
21262    531
Name: count, dtype: int64

In [7]:
# üìÇ Cargar el dataset original (si no lo ten√©s en memoria)
ruta_original = r"C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\finalitoul.csv"
df = pd.read_csv(ruta_original)

# üìÇ Cargar las combinaciones eliminadas
ruta_combinaciones = r"C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\combinaciones_eliminadas.csv"
df_eliminadas = pd.read_csv(ruta_combinaciones)

# üîÑ Hacer un merge para reconstruir todos los registros que fueron eliminados
df_eliminados_completo = df.merge(
    df_eliminadas,
    on=['customer_id', 'product_id'],
    how='inner'
).sort_values(['customer_id', 'product_id', 'periodo'])

# üëÄ Mostrar una vista general
print("üßæ Registros eliminados reconstruidos para inspecci√≥n:")
display(df_eliminados_completo.head())

üßæ Registros eliminados reconstruidos para inspecci√≥n:

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,stock_final,cat1,cat2,cat3,brand,sku_size,cantidad_periodos,suma_tn
0,10001,20032,2017-01-01,0.0,0.0,0.0,0.0,0.0,HC,ROPA LAVADO,Liquido,ROPEX2,3000,36,0.0
1,10001,20032,2017-02-01,0.0,0.0,0.0,0.0,0.0,HC,ROPA LAVADO,Liquido,ROPEX2,3000,36,0.0
2,10001,20032,2017-03-01,0.0,0.0,0.0,0.0,0.0,HC,ROPA LAVADO,Liquido,ROPEX2,3000,36,0.0
3,10001,20032,2017-04-01,0.0,0.0,0.0,0.0,0.0,HC,ROPA LAVADO,Liquido,ROPEX2,3000,36,0.0
4,10001,20032,2017-05-01,0.0,0.0,0.0,0.0,0.0,HC,ROPA LAVADO,Liquido,ROPEX2,3000,36,0.0

In [ ]:
df_eliminados_completo

In [8]:
ruta_inspeccion = r"C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\finalitoul_inspeccion_eliminados.csv"
df_eliminados_completo.to_csv(ruta_inspeccion, index=False)

print(f"üìÅ Archivo de inspecci√≥n guardado en:\n{ruta_inspeccion}")

üìÅ Archivo de inspecci√≥n guardado en:
C:\Users\waldo\Dropbox\Maestr√≠a Ciencia de Datos\Labo 3\Proceso\finalitoul_inspeccion_eliminados.csv

In [ ]:
# Si quer√©s volver a cargarlo:
df_filtrado = pd.read_csv(ruta_salida)
df_filtrado