<a id = "1.0"></a>
<p style="font-size:25px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>
D-Tale
</strong></p>

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import dtale

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('dataset_completo_con_features.csv')

In [5]:
df.head()

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,stock_final,cat1,cat2,...,"ROLLING_MEAN(periodo, plan_precios_cuidados)","ROLLING_MEAN(periodo, sku_size)","ROLLING_MEAN(periodo, stock_final)","ROLLING_MEAN(periodo, tn)",tn_lag_1,tn_lag_2,tn_lag_3,tn_lag_4,tn_lag_5,tn_delta
0,10001,20001,2017-01-01,0.0,11.0,99.43861,99.43861,0.0,HC,ROPA LAVADO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,20002,2017-01-01,0.0,17.0,90.13504,87.64856,0.0,HC,ROPA LAVADO,...,0.0,3000.000000,0.0,99.438610,99.43861,NaN,NaN,NaN,NaN,-11.79005
2,10001,20003,2017-01-01,0.0,25.0,100.21284,100.21284,0.0,FOODS,ADEREZOS,...,0.0,3000.000000,0.0,93.543585,87.64856,99.43861,NaN,NaN,NaN,12.56428
3,10001,20004,2017-01-01,0.0,13.0,21.73954,21.73954,0.0,FOODS,ADEREZOS,...,0.0,2158.333333,0.0,95.766670,100.21284,87.64856,99.43861,NaN,NaN,-78.47330
4,10001,20005,2017-01-01,0.0,0.0,0.00000,0.00000,0.0,FOODS,ADEREZOS,...,0.0,1238.333333,0.0,69.866980,21.73954,100.21284,87.64856,99.43861,NaN,-21.73954

In [ ]:
#columns = ['Rank']
#df.drop(columns, inplace=True, axis=1)

In [6]:
d = dtale.show(df)

In [7]:
d.open_browser()

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>