In [1]:
import pandas as pd
#Configuración de parametros de Pandas para mejor visualización
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.precision', 3)
pd.set_option('plotting.backend', 'matplotlib') 
pd.options.mode.chained_assignment = None

# En produccion eliminar, se incluye por informacion
print(f'Pandas Version: {pd.__version__}')

Pandas Version: 2.1.4

In [2]:
import numpy as np

np.set_printoptions(suppress=True)

# En produccion eliminar, se incluye por informacion
print(f'Numpy version: {np.__version__}')

Numpy version: 1.26.4

In [3]:
# En produccion eliminar, se incluye por informacion
import matplotlib
print(f'Matplotlib version: {matplotlib.__version__}')

import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = (15,7)

Matplotlib version: 3.7.5

In [4]:
import warnings
warnings.filterwarnings("ignore")

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>____________________________________</strong></p>

In [5]:
df = pd.read_csv('finalitoul.csv')

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Visualizar las primeras 5 filas  del dataset</strong></p>

In [6]:
df.head()

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,stock_final,cat1,cat2,cat3,brand,sku_size
0,10001,20001,2017-01-01,0.0,11.0,99.439,99.439,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
1,10001,20001,2017-02-01,0.0,23.0,198.844,198.844,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
2,10001,20001,2017-03-01,0.0,33.0,92.465,92.465,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
3,10001,20001,2017-04-01,0.0,8.0,13.297,13.297,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000
4,10001,20001,2017-05-01,0.0,15.0,101.207,101.006,0.0,HC,ROPA LAVADO,Liquido,ARIEL,3000

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Visualizar de manera aleatoria 5 filas del dataset</strong></p>

In [7]:
df.sample(5)

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,stock_final,cat1,cat2,cat3,brand,sku_size
9960111,10355,20751,2019-04-01,0.0,0.0,0.000,0.000,-0.009,PC,DENTAL,CREMA,COLGATE,180
7067548,10252,20739,2019-05-01,0.0,1.0,0.002,0.002,2.557,PC,DEOS,NoAero,DEOS1,50
13038737,10472,20326,2017-06-01,0.0,0.0,0.000,0.000,0.000,PC,DEOS,RollOn,NIVEA,50
730484,10027,20012,2017-09-01,0.0,1.0,0.263,0.263,0.000,HC,ROPA ACONDICIONADOR,ACONDICIONADOR,DOWNY,800
5993606,10214,20440,2017-03-01,0.0,0.0,0.000,0.000,0.000,FOODS,ADEREZOS,Mayonesa,NATURA,250

In [ ]:
from reducirDT import optimize_memory_usage
df = optimize_memory_usage(df)

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Visualizar las ulitmas 5 filas del dataset</strong></p>

In [8]:
df.tail()

,customer_id,product_id,periodo,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,stock_final,cat1,cat2,cat3,brand,sku_size
16763755,10637,21276,2019-08-01,0.0,0.0,0.0,0.0,1.085,PC,PIEL1,Cara,NIVEA,140
16763756,10637,21276,2019-09-01,0.0,0.0,0.0,0.0,0.876,PC,PIEL1,Cara,NIVEA,140
16763757,10637,21276,2019-10-01,0.0,0.0,0.0,0.0,1.059,PC,PIEL1,Cara,NIVEA,140
16763758,10637,21276,2019-11-01,0.0,0.0,0.0,0.0,1.061,PC,PIEL1,Cara,NIVEA,140
16763759,10637,21276,2019-12-01,0.0,0.0,0.0,0.0,1.056,PC,PIEL1,Cara,NIVEA,140

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>

<a id = "1.0"></a>
<p style="font-size:20px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>Comienzo del proceso de exploración de datos</strong></p>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16763760 entries, 0 to 16763759
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   customer_id            int64
 1   product_id             int64
 2   periodo                object
 3   plan_precios_cuidados  float64
 4   cust_request_qty       float64
 5   cust_request_tn        float64
 6   tn                     float64
 7   stock_final            float64
 8   cat1                   object
 9   cat2                   object
 10  cat3                   object
 11  brand                  object
 12  sku_size               int64
dtypes: float64(5), int64(3), object(5)
memory usage: 1.6+ GB

In [10]:
print(df.columns.tolist())

['customer_id', 'product_id', 'periodo', 'plan_precios_cuidados', 'cust_request_qty', 'cust_request_tn', 'tn', 'stock_final', 'cat1', 'cat2', 'cat3', 'brand', 'sku_size']

In [11]:
df[['tn']].describe(percentiles=[0.05, 0.25, 0.50, 0.75, 0.95])

              tn
count  1.676e+07
mean   6.697e-02
std    1.267e+00
min    0.000e+00
5%     0.000e+00
25%    0.000e+00
50%    0.000e+00
75%    0.000e+00
95%    8.305e-02
max    5.479e+02

In [12]:
df.describe(include=['object'], exclude=['float', 'int'])

           periodo      cat1      cat2      cat3     brand
count     16763760  16763760  16763760  16763760  16763760
unique          36         4        15        84        35
top     2017-01-01        PC   CABELLO   SHAMPOO     NIVEA
freq        465660   9542448   4362876   1891296   2342628